$white-color:white;
$gray-color:gray;
$gray-medium-light: #eaeaea;
$gray-e8e8e8: #e8e8e8;
$light-gray-5: #555;
$light-gray-7: #777;
$light-gray-ed: #ededed;
$link-nav-color: #222;
$light-gray-b: #bbb;
$red-color: red;
$blue-color: blue;
$link-hover: #165489;
$background-sidebar: #337ab7;
$shadow-color-nav: rgba(0,0,0,0.2);
