<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), "home", class: "fz-3" %></li>
        <li><%= link_to t(".log_in"), "#", class: "fz-3" %></li>
      </ul>
    </nav>
  </div>
</header>
